node_modules
components
npm-debug.log
build
dist
.DS_Store
*.crt
*.key
amplitude.js
amplitude.esm.js
amplitude.min.js
amplitude-snippet.min.js
amplitude-segment-snippet.min.js
.watchmanconfig
package-lock.json
amplitude.umd.js
amplitude.umd.min.js
