node_modules
components
npm-debug.log
build
dist
.DS_Store
*.crt
*.key
amplitude.js
amplitude.esm.js
amplitude.min.js
amplitude.nocompat.js
amplitude.nocompat.min.js
amplitude-snippet.min.js
amplitude.native.js
amplitude-segment-snippet.min.js
.watchmanconfig
package-lock.json
amplitude.umd.js
